*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F4DFD0;
}

header{
    margin: 0 0 0 0;
    background-color: #CDBBA7;
    display: flex;
}

h2{
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.photo{
    width: 150px;
}

.container{
    display: grid;
    grid-template-areas: "education experience skills";
    gap: 30px;
    margin: 20px;
    font-family: Verdana;
}

.education{
    grid-area: education;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 4px 2px 2px #DCDDE1;
}

.experience{
    grid-area: experience;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 4px 2px 2px #DCDDE1;
}

.skills{
    grid-area: skills;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 4px 2px 2px #DCDDE1;
}

ul{
    margin-left: 20px;
    padding-bottom: 10px;
}

h6{
    margin-left: 6px;
    text-align: center;
    font-size: 17px;
}

.name{
    font-size: 55px;
    padding-top: 95px;
}

.social{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    height: 50px;
    width: 50px;
    background-color: #F5F6FA;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 60px;
    box-shadow: 1px 4px 2px 2px #DCDDE1;
}

a i{
    transition: all 0.3s linear;
}

a:hover i{
    transform: scale(1.1);
}

.fa-twitter{
    color:#0097E6;
}

.fa-instagram{
    color: #E84393;
}

.fa-linkedin{
    color: #0097E6;
}